img {
    width: 100%;
    display: block;
}
body {
    color: black;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
}
p {
    margin-top: 1vw;
    margin-bottom: 0.8vw;
}
label {
    display: block;
}
.input_element {
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
}
.input_element input {
    outline: none;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: #BDD0CC 1px solid;
    background: rgba(0, 0, 0, 0.9);
}
::placeholder { 
  color: #BDD0CC;
  font-size: 16px;
}
.box_card {
    top: 35%;
    position: absolute;
    width: 700px;
    background: rgba(255, 255, 255, 0.4);
    transform: translateX(-50%);
    left: 50%;
    border-radius: 10px;
}
.card_inner {
    padding: 20px;
}
@font-face {
    font-family: SourceHanSansJP_R;
    src: url(./font/SourceHanSansJP-Regular.otf);
}
@font-face {
    font-family: KozMinPro_R;
    src: url(./font/KozMinPro-Regular.otf);
}
.container {
    max-width: 1366px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
}
.font--white {
    color: white;
}
.header {
    position: relative;
}
.header_bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 15px;
}
.menu {
    color: #F9F4AA;
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    margin-right: 15px;
}
.menu a {
    color: #F9F4AA;
}
input, select {
    outline: none;
}
.footer_img {
    display: flex;
    background-color: black;
    position: relative;
}
.footer_img img {
    width: 50%;
    opacity: 0.5;
}
.footer_bar {
    background-color: #1E1E1E;
    min-height: 350px;
    color:#F9F4AA;
}
.footer_nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    color:#F9F4AA;
    padding-top: 80px;
    padding-bottom: 50px;
}
.footer_nav a {
    color:#F9F4AA;
}
.social_link {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: auto;
}
.social_link img {
    width: 40px;
    margin: 10px;
}
.copyright {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.pc {
    display: block;
}
.sp {
    display: none!important;
}

.banner {
    background-image: url(./image/banner.png);
    width: 100%;
    background-size: cover;
}
.share_button {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 120px;
    padding-bottom: 50px;
    cursor: pointer;
}


.select_group {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.search_box {
    width: max-content;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.search_text {
    border: none;
    font-size: 20px;
    padding: 0 10px;
}
.button_outline {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    outline: 0.5px solid black;
    outline-offset: 2px;
    margin-left: 10px;
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.search {
    display: flex;
    align-items: center;
}
.select_category {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px black solid;
    width: 200px;
    margin: 0 5px;
    cursor: pointer;
}
.arrange_group {
    display: flex;
}
.arrange_box {
    width: 200px;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
}
.arrange_box > div {
    margin-left: 15px;
}
.arrangeImage {
    position: absolute;
    right: 15px;
    width: 15px;
}
.video_list {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.video_box {
    width: 31%;
    border: 1px #F9F4AA solid;
    background-color: transparent;
    box-shadow: black 0px 0px 4px;
    color: #F9F4AA;
    font-family: KozMinPro_R;
    text-align: center;
    margin: 1%;
}
.video_inner {
    margin: 8px;
    outline: 2px solid black;
    outline-offset: 2px;

}
.video_image {
    border-bottom: 3px white solid;
    cursor: pointer;
}
.video_top {
    position: relative;
}
.video_bottom {
    background-color: black;
    padding: 20px;
}
.video_bottom_inner {
    background-color: #151212;
    border: 1px solid #707070;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}
.video_title hr {
    background-color: #F9F4AA;
    height: 2px;
    border: none;
    width: 80%;
    margin-top: -10px;
}
.video_des {
    color: #F9F4AA;
    opacity: 0.5;
}
.evaluation {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 28px;
}
.evaluation img {
    width: 30px;
}
.pagination {
    display: flex;
    align-items: center;
    font-family: KozMinPro_R;
    float: right;
    margin-right: 3%;
}


@media (max-width: 1600px) {
    .container {
    max-width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    }
    .header_bar {
        height: 60px;
    }
}
@media (max-width: 1367px) {
    .video_bottom_inner {
        width: 95%;
    }
    .searchImage {
        width: 40px
    }
    .button_outline {
        width: 60px;
        height: 32px;
        line-height: 30px;
    }
    .search_text {
        font-size: 16px;
        width: 120px;
    }
    .select_category {
        font-size: 16px;
        width: 150px;
    }
    .arrange_box {
        width: 120px;
    }
}
@media (max-width: 1201px) {
    .video_box {
        width: 45%;
        margin: 2%;
    }
    .share_button {
        width: 30%;
        padding-top: 70px;
        padding-bottom: 30px;
    }
}
@media (max-width: 993px) {
    .container {
        max-width: 95%;
        margin-top: 70px;
        margin-bottom: 90px;
    }
    .select_group {
        flex-direction: column;
    }
    .search {
        margin: 5px;
    }
    .share_button {
        padding-bottom: 0;
        width: 300px;
    }
    .header_bar {
        height: 50px;
    }
    .footer_nav a {
        font-size: 12px;
    }
    .footer_nav {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .social_link {
        width: 220px;
    }
    .social_link img {
        width: 30px;
    }
    .footer_bar {
        min-height: 240px;
    }
}
@media (max-width: 769px) {
    h2, h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
    .searchImage {
        width: 30px
    }
    .button_outline {
        width: 50px;
        height: 25px;
        line-height: 23px;
        font-size: 12px;
    }
    .search_text {
        font-size: 12px;
        width: 120px;
    }
    .select_category {
        font-size: 12px;
        width: 120px;
        padding: 5px 15px;
    }
    .arrange_box {
        width: 80px;
    }
    .arrange_box > div {
        margin-left: 10px;
    }
    .share_button {
        padding-top: 40px;
    }
    .select_group {
        padding: 10px 20px 20px;
    }
    .video_title hr {
        height: 1px;
        width: 90%;
    }
    .video_bottom_inner {
        width: 100%;
    }
    .video_inner {
        margin: 5px;
    }
    .pagination {
        flex-direction: column;
    }
    .footer_nav {
        width: 70%;
    }
    .copyright {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 11px;
    }
}
@media (max-width: 670px) {
    .footer_nav {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .footer_bar {
        min-height: 200px;
    }
}
@media (max-width: 500px) {
    .pc {
        display: none;
    }
    .share_button {
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        width: 250px;
    }
    .sp {
        display: block!important;
    }
    .video_list {
        flex-direction: column;
    }
    .video_box {
        width: 80%;
        margin: 20px 10%;
    }
    h2 , h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .video_title hr {
        height: 1px;
        width: 60%;
    }
    .video_inner {
        margin: 8px;
    }
    .header_bar {
        height: 40px;
    }
    .evaluation {
        font-size: 20px;
    }
    .container {
        max-width: 95%;
        margin-top: 50px;
        margin-bottom: 90px;
    }
}