img {
    width: 100%;
}
body {
    color: black;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: SourceHanSansJP_R;
    src: url(./font/SourceHanSansJP-Regular.otf);
}
@font-face {
    font-family: KozMinPro_R;
    src: url(./font/KozMinPro-Regular.otf);
}
.font--white {
    color: white;
}
.header_bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: 0.5;
    display: flex;
}
input, select {
    outline: none;
}
.footer_img {
    display: flex;
    background-color: black;
    position: relative;
}
.footer_img img {
    width: 50%;
    opacity: 0.5;
}
.footer_bar {
    background-color: #1E1E1E;
    min-height: 350px;
    color:#F9F4AA;
}
.footer_nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    color:#F9F4AA;
    padding-top: 80px;
    padding-bottom: 50px;
}
.footer_nav a {
    color:#F9F4AA;
}
.social_link {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: auto;
}
.social_link img {
    width: 40px;
    margin: 10px;
}
.copyright {
    width: 50%;
    text-align: center;
    margin: auto;
}
